@import '_vars';

/*
 * Navigation
 */

.navigation-toggle {
  position: absolute;
  top: $full-page-padding-vertical;
  right: $full-page-padding-horizontal;
  width: 29px;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;

  @include large-only {
    display: none;
  }

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    background: white;
    transition: .5s;

    transform-origin: 4px 0px;
  }
  span:first-child {
    transform-origin: 0% 0%;
  }
  span:last-child {
    transform-origin: 0% 100%;
  }

  #navigation-toggle-box:checked + & {
    span {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    span:first-child {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);;
    }
    span:last-child {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);;
    }
  }
}

#navigation-toggle-box {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.navigation {
  margin: {
    top: $full-page-padding-vertical;
    left: $full-page-padding-horizontal;
    right: $full-page-padding-horizontal;
  };
  display: flex;
  justify-content: space-around;

  @include small-only {
    margin: 0;
    display: none;
    flex-direction: column;

    #navigation-toggle-box:checked ~ & {
      display: flex;
    }
  }
}

.navigation-item {
  color: $dark-grey;
  font-weight: bold;
  text-decoration: none;

  line-height: $top-bar-line-height;

  // Decorations, small screens
  @include small-only {
    $bg: $darker-grey;
    $lighter-bg: lighten($bg, 10%);
    $border-width: 6px;

    padding: {
      top: 20px;
      bottom: 20px;
      left: $full-page-padding-horizontal - $border-width;
    }

    color: white;
    background: $bg;

    &:focus, &:hover {
      background: $lighter-bg;
    }

    border-left: $lighter-bg solid $border-width;

    &.navigation-item-current {
      border-left-color: $scarlet;
    }
  }
}

// Decorations, large screens
@include large-only {
  .navigation-item:not(.navigation-item-current):hover::after,
  .navigation-item:not(.navigation-item-current):focus::after,
  .navigation-item.navigation-item-current::after {
    content: "";
    display: block;
    height: 3px;
    width: 70%;
    margin: {
      top: 4px;
      left: auto;
      right: auto;
    };
    background-color: $light-grey;
  }

  .navigation-item.navigation-item-current::after {
    background-color: $scarlet;
  }
}
