---
---

@charset "utf-8";

@import '_vars';
@import '_navigation';

/*
 * Base styles
 */

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--base-font-family);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}

/*
 * Layout
 */

.container {
  position: relative;
}

.left-side {
  @include large-only {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--left-side-width);
    height: 100%;
    min-height: 640px;
  }
}

.timetables {
  @include large-only {
    position: fixed;
    bottom: 0;
    left: 0;
    width: var(--left-side-width);
  }
}

.right-side {
  @include large-only {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--right-side-width);
    height: 100%;
  }
}

/*
 * Left side elements
 */

.title {
  display: inline-block;
  margin: 0;
  padding: {
    top: var(--full-page-padding-vertical);
    bottom: var(--full-page-padding-vertical);
    left: var(--full-page-padding-horizontal);
    right: var(--full-page-padding-horizontal);
  }

  line-height: var(--top-bar-line-height);

  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  height: var(--top-bar-line-height);
  width: auto;
  vertical-align: bottom;
  margin-right: 5px;
}

.timetables {
  margin: 0;
  padding: {
    top: var(--full-page-padding-vertical);
    bottom: var(--full-page-padding-vertical);
    left: var(--full-page-padding-horizontal);
    right: var(--full-page-padding-horizontal);
  }

  @include small-only {
    background: var(--darker-grey);
  }

  dt, dd {
    margin: 0;
    font-size: 16px;
    color: var(--light-grey);
  }

  dt {
    margin-top: 16px;
  }
}

.timetables-heading {
  color: white;
}

.image-bg {
  width: 100%;
  height: 100%;
  background-color: var(--darker-grey);
  background-size: cover;
  background-position-x: 30%;
  background-position-y: 0%;
  z-index: -1;

  @include small-only {
    background-image: none !important;
  }
}

/*
 * Page markdown content
 */

.page-content {
  margin: {
    top: 80px;
    bottom: 80px;
    left: 80px;
    right: 80px;
  };

  @include small-only {
    margin: {
      left: var(--full-page-padding-horizontal);
      right: var(--full-page-padding-horizontal);
    }
  }

  color: var(--dark-grey);
  word-wrap: break-word;

  h2 {
    margin: 42px 0;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .heading-highlight {
    color: var(--scarlet);
    margin-left: 10px;
  }

  p {
    @include large-only {
      margin: {
        top: 36px;
        bottom: 36px;
        left: 15%;
        right: 0;
      };
    }

    font-size: 18px;
    line-height: 1.25em;
  }
}
