---
---
@charset "utf-8";

// https://bitsofco.de/the-new-system-font-stack/
$base-font-family: system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;

body {
  font-family: $base-font-family;
}

/*
 * Navigation
 */

.navbar {
  background: #111;
}

.pure-menu-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-title {

}

.navbar-list {
  float: right;
}
