---
---

@charset "utf-8";

$dark-grey: #4a4a4a;
$light-grey: #d8d8d8;
$scarlet: #c30016;
$scarlet-two: #d0011b;

// https://bitsofco.de/the-new-system-font-stack/
$base-font-family: system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;

$full-page-padding-vertical: 36px;
$full-page-padding-horizontal: 40px;

$top-bar-line-height: 30px;

/*
 * Base styles
 */

html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: $base-font-family;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/*
 * Layout
 */

.left-side {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.right-side {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

/*
 * Left side elements
 */

.title {
  margin: 0;
  padding: 0;

  position: absolute;
  top: $full-page-padding-vertical;
  left: $full-page-padding-horizontal;

  line-height: $top-bar-line-height;

  color: white;
  text-transform: uppercase;
}

.timetables {
  margin: 0;
  padding: 0;

  position: absolute;
  bottom: $full-page-padding-vertical;
  left: $full-page-padding-horizontal;

  color: $light-grey;
}

.image-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  z-index: -1;
}

/*
 * Navigation
 */

.navigation {
  margin: {
    top: $full-page-padding-vertical;
    left: $full-page-padding-horizontal;
    right: $full-page-padding-horizontal;
  };
  display: flex;
  justify-content: space-between;
}

.navigation-item {
  color: $dark-grey;
  font-weight: bold;
  text-decoration: none;

  line-height: $top-bar-line-height;
}

.navigation-item:not(.navigation-item-current):hover::after,
.navigation-item:not(.navigation-item-current):focus::after,
.navigation-item.navigation-item-current::after {
  content: "";
  display: block;
  height: 3px;
  width: 70%;
  margin: {
    top: 4px;
    left: auto;
    right: auto;
  };
  background-color: $light-grey;
}

.navigation-item.navigation-item-current::after {
  background-color: $scarlet-two;
}

/*
 * Page markdown content
 */

.page-content {
  margin: {
    top: 100px;
    bottom: 25px;
    left: 80px;
    right: 80px;
  };
  color: $dark-grey;

  h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
    line-height: 1.25em;
  }

  .highlight {
    color: $scarlet;
  }
}
