---
---
@charset "utf-8";

// https://bitsofco.de/the-new-system-font-stack/
$base-font-family: system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;

$navbar-height: 48px;
$navbar-font-size: 16px;

/*
 * Base styles
 */

body {
  padding-top: $navbar-height;
}

// http://purecss.io/grids/#using-grids-with-custom-fonts
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: $base-font-family;
}

/*
 * Navigation
 */

.navbar {
  background: #111;
  font-size: $navbar-font-size;
  line-height: $navbar-font-size;
}

.pure-menu-link {
  padding-top: ($navbar-height - $navbar-font-size) / 2;
  padding-bottom: ($navbar-height - $navbar-font-size) / 2;
}

.navbar-title {

}

.navbar-list {
  float: right;
}

// http://stackoverflow.com/a/13184714/454094
a.anchor {
  display: block;
  position: relative;
  top: -$navbar-height;
  visibility: hidden;
}

/*
 * Images
 */

.image-main {
  height: 400px;
}

.image-spacer {
  height: 300px;
}

.image-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  z-index: -1;
}

.image-bg-parallax {
  background-attachment: fixed;
}

/*
 * Content
 */

.content-section {
  margin: 0 auto;
  padding: 25px 80px;
  max-width: 1024px;
}
