---
layout: default
---
<div>
  <div style="
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  ">
    <div class="image-bg" style="background-image: url('{{ page.background_image }}');">
      <h1 style="
        position: absolute;
        top: 30px;
        left: 40px;
        margin: 0;
        padding: 0;
      ">
        Lebudo
      </h1>
    </div>
  </div>

  <div style="
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  ">
    {% include navbar.html %}
    <div class="page-content">
      {{ content | markdownify }}
    </div>
  </div>
</div>
