---
layout: default
---

<div class="container">
  <div class="left-side">
    <div
      class="image-bg"
      style="
        background-image:
          linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 20%,
            rgba(0, 0, 0, 0.8) 70%
          ),
          url('{{ page.background_image }}');
    ">
      <a href="{{ site.url }}">
        <h1 class="title">
          {{ site.title }}
        </h1>
      </a>
    </div>
  </div>

  <div class="right-side">
    {% include navbar.html %}
    <div class="page-content">
      <h2>
        {{ page.title }}
        <span class="heading-highlight">
          {{ page.subtitle }}
        </span>
      </h2>
      {{ content | markdownify }}
    </div>
  </div>

  <dl class="timetables">
    <h4 class="timetables-heading">Harjoitusajat kevät 2017</h4>
    <dt>Maanantai</dt>
    <dd>16.30-18.00 Iaido</dd>
    <dd>19.00-21.30 Kendo</dd>

    <dt>Tiistai</dt>
    <dd>19.00-21.30 Kendo</dd>

    <dt>Keskiviikko</dt>
    <dd>19-21.30 Jodo (aloittelijat)</dd>

    <dt>Torstai</dt>
    <dd>20-22.00 Iaido</dd>

    <dt>Perjantai</dt>
    <dd>19-21.30 Kendo</dd>

    <dt>Lauantai</dt>
    <dd>15-17.00 Iaido</dd>
  </dl>
</div>
