---
layout: default
---
<div>
  <div style="
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  ">
    <div class="image-bg" style="background-image: url('{{ page.background_image }}');">
      <h1 style="
        position: absolute;
        top: 30px;
        left: 40px;
        margin: 0;
        padding: 0;
      ">
        Lebudo
      </h1>
      <dl style="
        position: absolute;
        bottom: 30px;
        left: 40px;
        margin: 0;
        padding: 0;
      ">
        <h4>Harjoitusajat kevät 2017</h4>
        <dt>Maanantai</dt>
        <dd>16.30-18.00 Iaido</dd>
        <dd>19.00-21.30 Kendo</dd>

        <dt>Tiistai</dt>
        <dd>19.00-21.30 Kendo</dd>

        <dt>Keskiviikko</dt>
        <dd>19-21.30 Jodo (aloittelijat)</dd>

        <dt>Torstai</dt>
        <dd>20-22.00 Iaido</dd>

        <dt>Perjantai</dt>
        <dd>19-21.30 Kendo</dd>

        <dt>Lauantai</dt>
        <dd>15-17.00 Iaido</dd>
      </dl>
    </div>
  </div>

  <div style="
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  ">
    {% include navbar.html %}
    <div class="page-content">
      {{ content | markdownify }}
    </div>
  </div>
</div>
